#_chatSendTool {
  position: absolute;
  top: 0;
}

.emoticon-button {
  background: url('https://static.xx.fbcdn.net/rsrc.php/v3/ys/r/6f2_cSYxvMi.png') 0 -231px;
  width: 19px;
  height: 19px;
  padding: 7px 0;
  display: inline-block;
}
